<a class="btn btn-lg text-center float-left" [routerLink]="'/details/'+hotelRoom.hotel.id"> <span><i
      class="fa fa-arrow-left "></i></span></a>
<div class="row">
  <div class="col-8 mx-auto">
    <div class="card  m-2 p-2 theme-bg  text-white" style=" border-radius: 2em;">



      <div class="row my-3">
        <div class="col-8 mx-auto row">
          <div class="col-6">
            <img [src]="getFirstImage(hotelRoom.images)" height="100vh">
          </div>
          <div class="col-6 my-auto">
            <div class="d-flex justify-content-between  pt-2 ">

              <p class="mb-0 fw-bold me-4">{{hotelRoom.hotel.name}}</p>
            </div>

            <div class="d-flex justify-content-between pt-2 ">
              <p class=" mb-0 fw-bold me-4">{{hotelRoom.roomType.name}} Room</p>
            </div>
          </div>
        </div>
      </div>



      <div class="row my-3">
        <div class="col-8 mx-auto row">
          <div class="col-6">
            <div>
              <b>Sub Total:</b> {{cart.availabilityResult.subTotal}}
            </div>
            <div>

              <!-- <b>Service Charge @{{hotelRoom.hotel.serviceCharges}}% : </b> {{cart.availabilityResult.serviceCharges}} -->

              <b>Service Charge &#64;{{hotelRoom.hotel.serviceCharges}}% : </b> {{cart.availabilityResult.serviceCharges}}

            </div>
            <div>
              <b>SGST : </b> {{cart.availabilityResult.sgst}}
            </div>
            <div>
              <b>CGST : </b> {{cart.availabilityResult.cgst}}
            </div>
          </div>
          <div class="col-6">
            <h2 class="text-danger">Total Amount : {{cart.availabilityResult.totalAmount}} </h2>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#paymentModal">Book Now</button>
          </div>


        </div>

      </div>


    </div>
  </div>
</div>
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="checkout-form" [formGroup]="paymentForm">

        <!-- User information fields -->
        <input type="text" formControlName="name" placeholder="Name"/>
        <input type="text" formControlName="email" placeholder="Email">
        <input type="number" formControlName="amount" placeholder="Amount"/>
      
        <!-- Stripe Card Elements Group -->
        <div class="stripe-card" ngxStripeCardGroup [elementsOptions]="elementsOptions">
          <h4>Enter payment details</h4>
      
          <!-- Stripe Card Number Element -->
          <div class="stripe-element">
            <ngx-stripe-card-number
              [options]="cardOptions"
             
            ></ngx-stripe-card-number>
          </div>
      
          <!-- Stripe Card Expiry and CVC Elements -->
          <div fxLayout="row" fxLayoutGap="10px">
            <div class="w-full stripe-element">
              <ngx-stripe-card-expiry
                [options]="cardOptions"
              ></ngx-stripe-card-expiry>
            </div>
            <div class="w-full stripe-element">
              <ngx-stripe-card-cvc
                [options]="cardOptions"
              ></ngx-stripe-card-cvc>
            </div>
          </div>
        </div>
      
        <!-- Submit Payment Button -->
        <button type="button" (click)="pay()">Submit Payment</button>
      </form>
    </div>


  </div>

</div>






<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>