<div class="container">
  <div class="row m-2">
    <div class="col-10">
      <h2 class="text-info text-center ">All Bookings</h2>

    </div>
    <div class="col-2">
      <a *ngIf="currentUser.role == 'Super Admin'" (click)="exportExcel()" class="btn btn-success">Export Excel</a>

    </div>
  </div>
    <table class="table table-info table-bordered table-active m-2" id="bookings">
    <thead>
      <tr>
        <th>Hotel</th>
        <th>Chech-in Date</th>
        <th>Check=out Date</th>
        <th>Status</th>
        <th>Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings">
          <td>{{booking.hotelRoom.hotel.name}}</td>
        <td>{{booking.checkInDate | date}}</td>
        <td>{{booking.checkOutDate | date}}</td>
        <td> {{booking.bookingStatus}}</td>
        <td> {{booking.priceWithGst}}</td>
        <td><a (click)="reprint(booking)" class="btn btn-info m-2">Reprint</a> 
           </td>
      </tr>
    </tbody>
  </table>
<div class="mx-auto m-2 text-center">
  <span class="p-1"  *ngFor="let n of numSequence(); 
  let i = index;"><a class="btn btn-dark" (click)="pagination(i+1)"> {{i+1}} </a></span>
</div>
  </div>