<div class="container ">
    <div class="border text-center col-6 mx-auto m-2 theme-bg">
       <h2 class="text-warning">Thank You!</h2>
       <h3 class="text-white">Booking Successfull</h3>
       <h3 class="text-white">Transaction Id</h3>
       <h3 class="text-white">Booking Id: {{booking.id}}</h3>
       <img [src]="" alt="qr code">
       <h3 class="text-white">Hotel: {{booking.hotelRoom.hotel.name}}</h3>
       
       <h3 class="text-white">Amount: {{booking.priceWithGst}}</h3>
    </div>
</div>